<nav>
  <div class="nav-wrapper white">
    <a href="/" class="brand-logo center black-text">FoodSpace</a>


      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a class="dropdown-button black-text" href="#!" data-activates="dropdown1">Browse<i class="material-icons right">arrow_drop_down</i></a></li>
        <li><%= link_to "Top 100 Dishes", topdishes_path,class:"black-text"%></li>
      </ul>

    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <% if user_signed_in? %>
      <% if current_user.owner %>
      <li><%= link_to "Update Details", users_update_path,class:"black-text"%></li>
      <li><%= link_to "Add Restaurant/Dishes", new_dish_path,class:"black-text"%></li>
      <% end %>
      <li><%= link_to edit_user_registration_path, class:"dropdown-button black-text", data: { activates: "dropdown2" }  do %>
        <div class="chip">
          <%=image_tag current_user.photourl %><%=current_user.name  %></div>
        <% end %>
      </li>
      <li><%= link_to "Logout", destroy_user_session_path, class:"black-text",  method: :delete %></li>
      <% else %>
      <li><%= link_to "Login", new_user_session_path,class:"black-text"%></li>
      <li><%= link_to "Register", new_user_registration_path, class:"black-text"%></li>
      <% end %>

  </div>
  <ul id="dropdown1" class="dropdown-content">
  <li><%= link_to "All Restaurants", restaurants_path %></li>
  <li><%= link_to "All Dishes", dishes_path %></li>
  </ul>
  <ul id="dropdown2" class="dropdown-content">
  <li><%= link_to "Console", admin_console_path %></li>
</ul>
</nav>
