<% if !current_user.admin %>
<div class="container center">
  <h1><i class="material-icons medium">no_encryption</i> 403 FORBIDDEN</h1>
  <p>Please contact your system administrator for rights to use the console</p>
</div>
<% else %>

<div class="container">
<ul class="tabs center">
  <li class="tab col s3"><a href="#dishesList">Dishes</a></li>
  <li class="tab col s3"><a  href="#restoList">Restaurants</a></li>
  <li class="tab col s3"><a href="#userList">Users</a></li>
</ul>
<div id="dishesList" class="col s12">

  <ul class="collapsible" data-collapsible="accordion">
    <% @dishes.each do |dish| %>
    <li>
      <div class="collapsible-header"><i class="material-icons">filter_drama</i><%= dish.name %></div>
      <div class="collapsible-body">

            <%= form_for dish, :url => dish_path(dish.id), method: :put do |f| %>
            <%= f.label :Name, class: "brown-text text-darken-4"  %>
            <%= f.text_field :name %>
            <%= f.label :Price, class: "brown-text text-darken-4"  %>
            <%= f.text_field :price %>
            <%= f.label :Discount, class: "brown-text text-darken-4"  %>
            <%= f.text_field :discount %>
            <%= f.label :Image, class: "brown-text text-darken-4" %><br>
            <input
              type="hidden"
              role="uploadcare-uploader"
              name="dish[photourl]"
              data-public-key="62b4ad6715b6c5f8bf25"
              data-tabs="file camera url facebook gdrive gphotos dropbox instagram evernote flickr skydrive"
              data-image-shrink=""
              data-images-only="true"
              data-preview-step="false"
              data-clearable="true"
              data-multiple="false"
              data-system-dialog="false"
              data-crop="400:300"
              value="<%= dish.photourl %>"
            />
            <%= f.submit "Update", class: 'btn waves-effect waves-light right formbttn' %>
              <% end %>
              <br>
              <div class="">
                <%= form_for dish, :url => dish_path(dish.id), method: :delete do |f| %>
                <%= f.submit "Delete Dish", class: 'btn red waves-effect waves-light formbttn' %>
                <% end %>
              </div>

    </li>
    <% end %>
  </ul>
</div>
<div id="restoList" class="col s12">
  <ul class="collapsible" data-collapsible="accordion">
    <% @restaurants.each do |resto| %>
    <li>
      <div class="collapsible-header"><i class="material-icons">filter_drama</i><%= resto.name %></div>
      <div class="collapsible-body">
        <%= form_for resto, :url => restaurant_path(resto.id), method: :put do |f| %>
        <%= f.label :Name, class: "brown-text text-darken-4"  %>
        <%= f.text_field :name %>
        <%= f.label :Address, class: "brown-text text-darken-4"  %>
        <%= f.text_field :address %>
        <%= f.label :Phone_Number, class: "brown-text text-darken-4"  %>
        <%= f.text_field :phone_number %>
        <%= f.collection_select :user_id, User.order(:name),:id,:name, include_blank: true %>
          <%= f.submit "Update", class: 'btn waves-effect waves-light formbttn' %>
        <% end %>
        <br>
        <div class="">
          <%= form_for resto, :url => restaurant_path(resto.id), method: :delete, data: {confirm: "Are you sure? Deleting this restaurant will delete all its dishes as well (CANNOT BE UNDONE)"} do |f| %>
          <%= f.submit "Delete Restaurant", class: 'btn red waves-effect waves-light formbttn' %>
          <% end %>
        </div>
      </div>
    </li>
    <% end %>
  </ul>
</div>
<div id="userList" class="col s12">

  <ul class="collapsible" data-collapsible="accordion">
    <% @users.each do |user| %>
  <li>
    <div class="collapsible-header"><i class="material-icons">filter_drama</i><%= user.name %></div>
    <div class="collapsible-body">
      <%= form_for user, :url => user_path(user.id), method: :put do |f| %>
      <%= f.label :Name, class: "brown-text text-darken-4"  %>
      <%= f.text_field :name %>
      <%= f.label :Email, class: "brown-text text-darken-4"  %>
      <%= f.email_field :email %>
      <%= f.label :Image, class: "brown-text text-darken-4" %><br>
      <input
        type="hidden"
        role="uploadcare-uploader"
        name="user[photourl]"
        data-public-key="62b4ad6715b6c5f8bf25"
        data-tabs="file camera url facebook gdrive gphotos dropbox instagram evernote flickr skydrive"
        data-image-shrink=""
        data-images-only="true"
        data-preview-step="false"
        data-clearable="true"
        data-multiple="false"
        data-system-dialog="false"
        data-crop="250:300"
        value="<%= user.photourl %>"
      /><br>
      <%= f.label :Owner_access, class: "brown-text text-darken-4"  %>
      <%= f.select :owner, [['true', "true"], ['false', "false"]] %>

      <%= f.submit "Update", class: 'btn waves-effect waves-light formbttn' %>


      <% end %>
    </div>
  </li>
  <% end %>
</ul>
</div>
</div>
<% end %>
