<div class="mainHeader">
  <%= render "partials/searchbar"%>
</div>
<div class="container">
  <div class="collection"id="resultList" >

  </div>

  <div class="row">

      <div class="col s4 center">
        <i class="medium material-icons">search</i>
        <h5 class="info">Find a Dish</h5>
        <p>Search across hundreds </br> of dishes and restaurants instantly </p>
      </div>
      <div class="col s4 center">
        <i class="medium material-icons">thumb_up</i>
        <h5 class="info">Vote</h5>
        <p>See the rankings </br> for your favourite dishes</p>
      </div>
      <div class="col s4 center">
        <i class="medium material-icons">create</i>
        <h5 class="info">Write a Review</h5>
        <p>Join the FoodSpace community </br> and start cashing in</p>
      </div>

  </div>


  <div class="slider">
    <ul class="slides">
      <li>
        <%= image_tag "promo1.jpg" %>
        <div class="caption center-align">
          <h3>Valuable 1-for-1 mains</h3>
          <h5 class="light grey-text text-lighten-3">For a limited time only</h5>
        </div>
      </li>
      <li>
        <%= image_tag "promo2.jpg" %>
        <div class="caption left-align">
          <h3>Exclusive discounts up to 50% off</h3>
          <h5 class="light grey-text text-lighten-3">For a limited time only</h5>
        </div>
      </li>
      <li>
        <%= image_tag "promo3.jpg" %>
        <div class="caption right-align">
          <h3>Discover new hot eats</h3>
          <h5 class="light grey-text text-lighten-3">All the food worth trying this December</h5>
        </div>
      </li>
      <li>
        <%= image_tag "promo4.jpg" %>
        <div class="caption center-align">
        <h3>Lunch set menus</h3>
        <h5 class="light grey-text text-lighten-3">Great for business lunches</h5>
        </div>
      </li>
    </ul>
  </div>

<%
=begin %>
<% if @dishes.count < 10 %>
<% @dishes.each do |dish| %>
<li> <%= dish.name %></li>
<% end %>
<% end %>
<%
=end %>


</div>
