<div class="container">
<h1>HOME PAGE</h1>
 
<h2>Search for a Dish</h2>
<%= form_for ratings_path, method: :get do %>
  <%= text_field_tag :term %>
  <%= submit_tag 'Search', class: "btn right" %>
<% end %>

<% if @dishes.count < 10 %>
<% @dishes.each do |dish| %>
<li> <%= dish.name %></li>
<% end %>
<% end %>


<% @resultHash.each do |dish,rating| %>
      <div class="row ">
        <div class="col s12 m7">
          <div class="card">
            <div class="card-image">
              <%= image_tag(dish.photourl) %>
              <span class="card-title"><%= dish.name %></span>
            </div>
            <div class="card-content">
              <p>Rating: <%= rating %></p>
              <p>Dish description will be placed here once we add it</p>
            </div>
            <div class="card-action">
            <%= link_to "View Dish", dish_path(dish.id) %>
            </div>
          </div>
        </div>
      </div>

<% end %>
</div>
