<div class="container">
  <div class="row">
    <% @dishesSortedByAsc.each do |dish,rating| %>
      <div class="col s4 center-align" style="height: 400px;">
        <div>
          <%= image_tag dish.photourl, height: "310", style:"height:200px; width:200px;border-radius:15px;" %>
          <div class="row">
            <%= link_to dish_path(dish.id) do %>
            <h5 class="header black-text center-align topDish bold"><%= dish.name %></h5>
            <% end %>
          </div>
          <div class="row valign-wrapper">
            <div class="col s6">
              <h5 class="topDish" id = "ratingPara<%= dish.id %>"><%= rating %> Vote(s)</h5>
            </div>
            <div class="col s6">
              <%= form_tag ratings_path, method: :post,remote:true do %>
                <%= hidden_field_tag :dish_id, dish.id %>
                <%= hidden_field_tag :rating, rating %>
                <%= button_tag( class: "btn orange-text white") do %>
                  <i class="material-icons">thumb_up</i>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
