<div class="container center">
  <h1>All Dishes</h1>
<div class="row">
<% @dishesSorted.each do |dish, rating| %>

  <div class="col s12 m6 l3">
    <div class="card medium">
      <div class="card-image">
        <%= link_to image_tag(dish.photourl), dish_path(dish.id) %>
      </div>
      <div class="card-content">
        <span class="card-title"><b><%= dish.name %></b></span>
        <p><%= @resto.name %></p>

        <div class="card-action">
          <%= form_tag ratings_path, method: :post, remote:true do %>
            <%= hidden_field_tag :dish_id, dish.id %>
            <%= hidden_field_tag :rating, rating %>
            <%= button_tag( class: "btn right") do %>
            <i class="material-icons">thumb_up</i>
            <% end %>
            <label class="ratingPara center-align" id="ratingPara<%= dish.id %>"> <%= rating %> vote(s)</label>
          <% end %>
        </div>
        </div>
    </div>
  </div>

<% end %>
</div>
</div>
