<div class="container showRestaurant">
  <div class="row restaurantTitle">

    <div class="col s6">
      <%= image_tag @resto.photo_url, class: "restophoto circle"%>
      <h2 class="orange-text"><%= @resto.name %></h2>
      <p class="bold">
        <i class="material-icons icons">phone</i>
        <%= @resto.phone_number %>
      </p>
      <p class="bold"><i class="material-icons icons">business</i><%= @resto.address %></p>
    </div>

    <div class="col s6 ">
      <iframe
         width="425"
         height="319"
         style="border-radius: 15px;"
         frameborder="0"
         class=greyBorder
         src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDdncbhJJHEPEwp_avrLpzJlPYdzWNG6m0
           &q=<%= @name %>,<%= @address %>" allowfullscreen>
      </iframe>
    </div>

  </div>

  <div class="row">
    <div class="valign-wrapper col s12">
      <p><%= @resto.description %></p>
    </div>
  </div>

  <div class="row restaurantTitle">
    <h3 class="orange-text">Top Dishes</h3>
  </div>
  <div class="row">
    <% @menu.each do |item| %>
    <%= link_to dish_path(item.id), class:"secondary-content" do %>
    <div class="col s2.5 hoverable">
      <div>
        <%= image_tag item.photourl, class:"circle center-align greyBorder", style:"height: 150px; width: 150px;" %>
        <p class="title center-align black-text bold"><%= item.name %></p>
        <p class="title center-align black-text bold">$<%= item.price %></p>
      </div>
      <% end %>
    </div>
    <% end %>
  </div>
</div>
