<div class="container">
  <div class="row">
    <h1><%= @resto.name %></h1>
  </div>
  <div class="row">
    <div class="col s7">
      <%= image_tag @resto.photo_url%>
      <p><%= @resto.description %></p>
    </div>

    <div class="col s5">
      <h5>Phone Number</h5>
      <p><%= @resto.phone_number %></p>
      <h5>Location</h5>
      <iframe
         width="300"
         height="225"
         frameborder="0" style="border:0"
         src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDdncbhJJHEPEwp_avrLpzJlPYdzWNG6m0
           &q=<%= @name %>,<%= @address %>" allowfullscreen>
      </iframe>
    </div>
  </div>
  <div class="row">
    <h1>Menu Items</h1>
    <ul class="collection">
    <% if @menu %>
    <% @menu.each do |item| %>

      <li class="collection-item avatar">
        <%= image_tag item.photourl, class:"circle" %>
        <span class="title"><%= item.name %></span>
        <p><%= item.price %> <br>
          ITEM DESCRIPTION
        </p>
        <%= link_to dish_path(item.id), class:"secondary-content" do %>
        View Dish
        <i class="material-icons">home</i>
        <% end %>
       </li>
    <% end %>
    <% end %>
    </ul>
  </div>
</div>
