<!DOCTYPE html>
<html>
  <head>
    <title>FoodSpace</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script charset="utf-8" src="https://ucarecdn.com/libs/widget/3.2.0/uploadcare.full.min.js"></script>
  </head>

  <body>
    <main>
    <%= render "partials/nav" %>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
    <br>


</main>
  </body>
  <footer><%= render "partials/footer"%>
  </footer>

</html>
